<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.url}}/" class="logo">{% if site.name %}{{site.name}}{% endif %}</a>
    </div>

    <img class="selfie" src="{{ "/assets/img/selfie.jpeg"}}" alt="selfie image">


    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.url}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="/resume/">Resume</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://github.com/{{site.github}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="{{site.linkedin}}" class="social-links"><i class="social-icons fa fa-linkedin" aria-hidden="true"></i></a></li>

    </div>

  </div>
</aside>
